.team-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
  justify-items: center;
}

.team-grid .card:nth-child(1) {
  grid-column: 1 / span 2;
}

.team-grid .card:nth-child(2) {
  grid-column: 3 / span 2;
}

.team-grid .card:nth-child(3) {
  grid-column: 5 / span 2;
}

.team-grid .card:nth-child(4) {
  grid-column: 2 / span 2;
}

.team-grid .card:nth-child(5) {
  grid-column: 4 / span 2;
}

.team h2 {
  font-size: 100px;
  margin-bottom: 20px;
  margin-top: 100px;
  letter-spacing: 4px;
  text-align: center;
}

.h2-highlight {
    color: #f4c46d;
}

.team-subtitle {
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  letter-spacing: 10px;
  margin-bottom: 100px; 
}

.member-role {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
}

.member-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  transition: transform 0.4s ease, filter 0.4s ease;
  font-size: 24px;
}

.card {
  background: rgba(255, 183, 255, 0.142);
  padding: 30px;
  border-radius: 50px;
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.card:hover .member-img {
  transform: scale(1.1);
  filter: grayscale(0%);
}

.img-placeholder {
  height: 350px;
  background-color: black;
  margin-bottom: 20px;
}

.img-wrapper {
  position: relative;
  width: 220px;
  height: 220px;
  margin: 0 auto 25px;
  overflow: hidden;
  border-radius: 50%;
}

